.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 0;
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  z-index: 50;
  display: flex;
  justify-content: center;
}

.header h1 {
  margin: 0;
  padding: 0 15px;
  font-size: 24px;
  line-height: 56px;
  font-weight: 400;
  color: black;
  font-family: 'Yesteryear', cursive;
}

.header nav {
  font-size: 100%;
  display: flex;
}

.header nav a {
  height: 56px;
  line-height: 56px;
  padding: 0 15px;
  min-width: 50px;
  text-align: center;
  background: rgba(255, 255, 255, 0);
  text-decoration: none;
  color: black;
  will-change: background-color;
}

.header nav a:hover,
.header nav a:active {
  background: rgba(0, 0, 0, 0.2);
}

.header nav a.active {
  border-bottom: black dashed;
  font-style: italic;
}

@media screen and (max-width: 480px) {
  .header nav a:not(.heading) {
    display: none;
  }

  .header::after {
    content: '🍔';
    position: absolute;
    right: 10px;
    top: 3px;
    font-size: 40px;
  }
}
